!!! 5
html(lang="en")
	head
		title Marcin Baniowski personal page
		meta(charset="utf-8")
		meta(name="viewport",content="width=device-width, initial-scale=1.0, user-scalable=no")
			
		meta(name="description",content="")
		meta(name="author",content="Marcin Baniowski")

		link(rel='stylesheet', href='/css/app.css')
		link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Terminal+Dosis')

		script(src='/js/jquery.js')
		script(src='/js/swipeview.js')
		script(src='/js/iscroll.js')
		script(src='/js/onepage.js')

	body
		div#content-wrapper
			block content
